nav {
    background-color: #333;
    overflow: hidden;
    width: 100%;
    position: fixed;
    z-index: 1000;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#bar{
    padding: 10px 10px 0px 30px;
    color:burlywood;
    font-size: 25px;
}
h4,h5{
    color: bisque;
}h2{ color:antiquewhite;}
h3{
    text-align: center;
}
h1{
    text-align: center;
}
pre{
    color:antiquewhite;
    padding-left: 30%;
    font-size: 17px;
}
#About{
    background-color: black;
}
h6{
    color: white;
    padding-left: 20px;
    font-size: 25px;
    font-weight: lighter;
}
nav li {
    float: left;  
}
#home{
    background-image: url(image/Cafe_wallpaper_1920x1080.jpg);
    background-repeat: no-repeat;
    background-size:100vw 100vh;
}
nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 26px;
    text-decoration: none;
    font-size: 20px;
}#price{
    font-weight: bold;
}
#contact{
    background-color:burlywood;
    border: 1px black;
}
#contactform label{
    padding-left: 20px;
    font-weight: bold;
}
#conform{
    margin: 30px;
}
nav a:hover {
    background-color: #ddd;
    color: black;
}
.menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.menu-item {
    text-align: center;
    margin: 20px;
    padding: 10px;
    width: 300px;
}
.menu-item img {
    width: 100%;
    height: 300px;
    border-radius: 8px;
    margin-bottom: 10px;
}#menu{
    background-image: url(image//free-blank-menu-design-templates_104863.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}